extends ../layout

block content
    a.btn.btn-success(href='/bicicletas/create') Nueva bicicleta

    br
    br

    table.table
        thead
            tr
                th(scope='col') #
                th(scope='col') Color
                th(scope='col') Modelo
                th(scope='col') Ubicación
                th(scope='col') 
                th(scope='col') 
                th(scope='col') 
        tbody
            each bici in bicis
                tr
                    th(scope='row') 
                      = bici.code
                    td= bici.color
                    td= bici.modelo
                    td= bici.ubicacion
                    td
                        a(href='bicicletas/' + bici._id + '/show') Ver
                    td
                        a.btn(href='bicicletas/' + bici._id + '/update') Editar
                    td
                        form.inline(method='post' action='bicicletas/' + bici._id + '/delete')
                            input(type='hidden' name='id' value=bici._id)
                            button.link-button.btn-danger(type='submit' name='submit_param' value='submit_value' class='btn')
                                = 'Eliminar'
